




.form-select,#buscarEvent{
    max-width: 120px;
}



.galeria-eventos{
    padding-top: 70px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.galeria-eventos a{
    min-width: 250px;
}

.card {
    height: 100%;
}
.card-img-top {
    object-fit: cover; /* Asegura que la imagen se ajuste */
    height: 300px; /* Altura fija para todas las imágenes */
}
.card-body {
  height: 180px; /* Altura fija para el cuerpo */
}

.oculto{
    display: none!important;
}

.container-preguntas-frecuentes{
    text-align: center;
}
.preguntasLink{
    text-decoration: none;
}

.edicionDeshabilitada{
    background-color: transparent!important;
    border: none!important;
    outline: none!important; /* Elimina el contorno azul */
    box-shadow: none!important; /* Elimina cualquier sombra aplicada */
    /*uso esto para deshabilitar un input desde css*/
    cursor: not-allowed;
    pointer-events:none;

}
.deshabilitado{
    cursor: not-allowed;
    pointer-events:none;
    background-color: #ddd!important;
}
.contenidoPregunta{
    width: 100%;
    height: 100px; /* Altura inicial */
    overflow: hidden; /* Oculta el desbordamiento */
    resize: none; /* Desactiva el cambio de tamaño manual */
    text-align: left!important;
    justify-content: left!important;
}





.globo{
    font-size: 70px;
    margin-left: 5px;
}


.flyer img {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    max-height: 100%; /* Ajusta la altura según el contenedor */
    object-fit: cover; /* Cubre el contenedor sin deformarse */
}



.oculto{
    display: none!important;
}


