/* Estrellas en color gris por defecto */
#rating-stars .fa-star {
    color: gray;
    cursor: pointer;
}

/* Estrellas seleccionadas en color amarillo */
#rating-stars .fa-star.selected {
    color: yellow;
}
